.container {
  font-size: 18px;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  font-weight: bold !important;
  background: #fff;
  line-height:14px;
}
ul.option-show {
  display: block;
  height: 30px;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
}
ul.option-show li {
  float: left;
  height: 26px;
  width: 20%;
  padding: 4px;
  box-sizing: border-box;
  list-style: none;
}
ul.option-show li a{
  display: block;
  height: 26px;
  width: 100%;
  line-height: 26px;
  color: #000;
  background-color: #eee;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold !important;
}
ul.option-show li a:hover {
  background-color: #1FB61D40;
}
ul.option-show li.active a {
  color: #fff;
  background-color: #1FB61D;
}
.panel {
  padding: 5px;
}
.panel-header {
  display: flex;
}
.panel-header > div {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
.panel-header .visit-show {
  flex: 1;
  text-align: center;
}

.wx-jin {
  color: #fc0
}

.wx-mu {
  color: #3c3
}

.wx-shui {
  color: #39f
}

.wx-huo {
  color: #f00
}

.wx-tu {
  color: #c90
}

.panel-header .end-show {
  flex: 1;
  line-height: 2em;
  text-align: right;
}

.panel-body {
  display: block;
  width: 100%;
  min-height: 80px;
}

.panel-body .item-row {
  display: block;
  margin: 0px -0.64%;
}
.panel-body .item-box {
  float: left;
  width: 13.4%;
  margin: 5px 0.2%;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  min-height: 82px;
}

.panel-body .plus {
  position: relative;
  float: left;
  width: 3.5%;
  min-height: 70px;
  margin: 5px 0;
}
.panel-body .plus::after {
  content: '+';
  font-size: 2em;
  font-weight: bold !important;
  text-shadow: 1px 1px #000 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.panel-body .item-box {
  position: relative;
}

.panel-body .item-box.green {
  background-color: #1FB61D;
}
.panel-body .item-box.blue {
  background-color: #2389e9;
}
.panel-body .item-box.red {
  background-color: #e92323;
}

.panel-body .item-box h2 {
  font-size: 28px;
  font-weight: 900;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2.2em;
  line-height: 30px;
  margin: 5px 0;
  color: white;
  display: block;
}

.panel-body .item-box .whsx {
  display: inline-block;
  width: 90%;
  height: 32px;
  line-height: 1.3em;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  color: #333!important;
  background: #fff;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
}

.panel-footer {
  font-size: 1.2em;
  position: relative;
}
.panel-footer p {
  margin: 0;
}
.panel-footer a.refresh {
  right: 0;
  bottom: 0;
  font-size: 0.7em;
  color: #fff;
  background-color: #f90;
  padding: 2px;
  border-radius: 4px;
  margin-left: 4px;         
  position: relative;
  bottom: 2px;
  display: inline !important;
}
#ball7 {
  margin: 5px 0;
}
#nextQiShu {
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .container {
    font-size: 12px;
  }
  .panel {
      padding: 5px 5px 0;
  }
  .panel-header .visit-show {
      flex: 3;
  }
  .panel-body {
      min-height: 64px;
  }
  .panel-body .item-box {
      min-height: 60px;
      width: 13.3%;
  }
  .panel-body .item-box .whsx {
      display: inline-block;
      height: 25px;
      width: auto;
      line-height: 1.2;
      margin-top: 6px;
      padding: 4px 4px;
      min-width: 32px;
      border-radius: 2px;
      color: #333 !important;
      font-size: 1.3em;
      font-weight: bold !important;
      background: #fff;
      margin-bottom: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      box-sizing: border-box;
  }
  ul.option-show li {
      float: left;
      height: 26px;
      width: 20%;
      padding: 1px;
      box-sizing: border-box;
      list-style: none;
      font-weight: bold !important;
      font-size: 1.2em;
  }
  ul.option-show {
      height: 24px;
  }
  .panel-header {
      font-weight: bold !important;
  }
  .panel-body .item-box { 
      margin: 3px 0.2%;
  }
  .panel-body .item-box h2 {
      margin: 0;
  }
  .panel-footer{
      margin: 0;
      font-weight: bold !important;
      display: inline-block;
  }
  .panel-footer p {
      margin: 0;
      position: relative;
      top: -1px;
  }
  .panel-body .plus {
      min-height: 55px;
  }
  #ball7 {
      margin: 3px 0;
      margin-left: 0.8%;
  }
  .panel-body .plus::after {
      font-size: 2.2em;
  }
}
@media only screen and (max-width: 424px) {
  .panel-body .item-box .whsx {
      min-width: 30px;
      white-space: nowrap;
      line-height: 0.9 !important;
      height:auto;
  }
  .panel-body .item-box .whsx > span:nth-child(2) {
      font-size: 0.8em;
  }
  .ul.option-show {
      height: 24px;
  }
}
.hidden {
  opacity: 0;
}
@media only screen and (max-width: 340px) {
  .container {
    font-size: 11px;
  }
}
